@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Host Grotesk", sans-serif;
}

.menu-buttons
{
    display: flex;
    align-items: center;
    height: 100%;
}

.personel-info li p
{
    white-space: nowrap;
}

body
{
    background-color: #F5F7F8;
}

main{
    display: flex;
    justify-content: center;
}

header
{
    width:100%;
    position: fixed;
}

section {
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.323);  /* X, Y, Blur, Renk */
    border-radius: 5px;
    margin-top: 1rem;
}

article{
    background-color: #F5F7F8;
}

.container
{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    width:2000px;
    gap:1rem
}

.hamburger-navbar
{
    display:none;
}

.menu-buttons
{
    list-style: none;
}

.menu-buttons a{
display: flex;
align-items: center;
justify-content: center;
color: white;
text-decoration: none;
padding: 1.5rem;
}

.menu-buttons a:hover, .profile-picture a:hover {
background-color: white;
color: black;
}

.menu-buttons li:nth-child(1) p a:hover
{
    background-color: #CCCCCC;
}

.menu-buttons li:nth-child(5) p a:hover
{
    background-color: #CCCCCC;
}

.bell
{
    position:relative;
}

.bell span
{
    font-size: smaller;
    display: flex;
    padding: 0.5rem;
    width: 0.5rem;
    height: 0.5rem;
    position:absolute;
    top:1rem;
    left:2.2rem;
    align-items: center;
    justify-content: center;
    background-color: #4CAF50;
    border-radius: 50%;
}

.menu-buttons li p
{
    font-weight: 2rem;
}

.home-logo  
{
    font-size: large;
    display: flex;
    align-items: center;
    white-space:nowrap;
    background-color:#3A4B53 ;
 
}

nav
{
    display: flex;
    justify-content: space-between;
    background-color:#4D636F ;
    height: 4rem;
    overflow: hidden;
}

.profile-picture img {
width: 2rem; /* Resmi biraz küçülterek diğer ikonlara daha iyi uyum sağlayın */
height: auto;
border-radius: 50%;
}

.profile-picture a
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 1.1rem;
}


/* Left side */


.profile-general
{
    padding: 1rem;
}

.profile-description
{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    width: 24%;
    margin-left: 1rem;
}

.pp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pp h2
{
    margin-bottom: 1rem;
}

.pp img{
    width: 7rem;
    border-radius: 50%;
}

hr{
    border:solid 1px #d1d1d1;
}

.pp hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}
.personel-info
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap:1.2rem;
    list-style: none;
    margin-right: 1rem;
}

.personel-info i
{
    color:#607D8F;
    font-size: small;
}

.personel-info span{
    margin-left: 1rem;
}


/* Events */


.my-events ul
{
    list-style: none;
}

.my-events ul li a{
    display: block;
    color: white;
    background-color: #7D97A5;
    width: 100%;
    padding: 1rem;
    text-decoration: none;
}

.my-events ul li a:hover{
    color: black;
    background-color: #CCCCCC;
}

.my-events ul li span
{
    margin-left: 1rem;
}

/* Interests */

.interests
{
    padding: 1rem;
    font-size: small;
}

.interests h3
{
    font-weight: 200;
    margin-bottom: 1rem;
}

.box-group
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.box-group div
{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.box-group div:nth-child(1)
{
    background-color: #303E45;
    color: white;
}

.box-group div:nth-child(2)
{
    background-color: #3A4B53;
    color: white;
}

.box-group div:nth-child(3)
{
    background-color: #435761;
    color: white;
}

.box-group div:nth-child(4)
{
    background-color: #4D636F;
    color: white;
}

.box-group div:nth-child(5)
{
    background-color: #57707D;
    color: white;
}

.box-group div:nth-child(6)
{
    background-color: #607D8B;
    color: white;
}

.box-group div:nth-child(7)
{
    background-color: #7D97A5;
    color: white;
}

.box-group div:nth-child(8)
{
    background-color: #b4c0c8;
    color: black;
}

.box-group div:nth-child(9)
{
    background-color: #BECBD2;
    color: black;
}

.box-group div:nth-child(10)
{
    background-color: #DFE5E8;
    color: black;
}

.box-group div:nth-child(11)
{
    background-color: #F5F7F8;
    color: black;
}

/* Info */
.info
{
    margin-bottom: 1rem;
}

.info div h3
{
    padding: 1rem;
}

.info div
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#DFE5E8;
}

.sign-x a
{
    padding:0.7rem;
    height: 2.5rem;
    background-color: #BECBD2;
    border-radius: 5px;
    color: black;
}

.sign-x a:hover
{
    padding:0.7rem;
    height: 2.5rem;
    background-color: #CCCCCC;
    border-radius: 5px;
    color: black;
}

.info p
{
    background-color: #DFE5E8;
    padding: 0 0.7rem 1rem 1rem;
}


/* Posts */


.posts
{
    width:55%;
}

.posts hr{
    margin-top: 2rem;
}

.post-this
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.post-this input
{
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border:1px solid rgb(196, 196, 196);
    border-radius: 5px;
}

.post-button a
{
    margin-top:1rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 3rem;
    background-color: #607D8B;
    color: white;
    max-width: 15%;
    white-space: nowrap;
    text-decoration: none;
    font-size: medium;
}

.post-button a:hover
{
    background-color: #CCCCCC;
    color: black;
}

.post-this p
{
    color: rgb(111, 111, 111);
}

.post-text
{
    margin-bottom: 1rem;
}

.post-button span
{
    margin-left: 0.5rem;
}


/* User-Post */


.user-posts
{
    padding: 1rem;
}

.user-post
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.global-user-profile
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.global-user-profile p
{
    font-size: 1.5rem;
    margin-left: 1rem;
}

.global-user-profile img
{
    border-radius: 50%;
    width: 5rem;
}

.post-date
{
    color: rgb(186, 186, 186);;
}

.post-content p
{
 margin-top: 1rem;
 margin-bottom: 1rem;
}

.button-box
{
    display: flex;
    justify-content: start;
    align-items: start;
}

.button-list
{
    display: flex;
    flex-direction: row;
    gap:0.5rem;
    list-style: none;
}

.like-button
{
    background-color: #607D8B;
}

.like-button a{
    display: block;
    padding: 0.5rem;
    color: white;
    text-decoration: none;
}

.like-button a:hover
{
    background-color: #CCCCCC;
    color: black;
}

.comment-button
{
    background-color: #607D8B;
}

.comment-button a{
    margin-left: rem;
    display: block;
    padding: 0.5rem;
    color: white;
    text-decoration: none;
}

.comment-button a:hover
{
    background-color: #CCCCCC;
    color: black;
}

.pictures
{
    display: flex;
    gap:1rem
}

.pictures img
{
    width: 49%;
}

.one-picture img
{
    width: 100%;
}


/* events and requests */


.events-and-requests
{
    width: 19%;
}

.event-info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    
    padding:1.5rem;
}

.event-info img
{
    width: 100%;
}

.event-info p
{  
    display:block;
    margin-bottom:1rem;
}

.event-info h3{
    margin-top:1rem;
    margin-bottom: 1rem;
}

.events-and-requests .event-info a
{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top: 1rem;
    background-color: #DFE5E8;
    padding:0.5rem;
    width: 100%;
    color:black ;
    text-decoration: none;
    font-size: larger;
}

.events-and-requests .event-info a:hover
{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top: 1rem;
    background-color: #CCCCCC;
    width: 100%;
    color:black ;
    text-decoration: none;
    font-size: larger;
}

.event-profile
{
    width: 50% !important;
}

.choice-buttons
{
    display: flex;
    width: 100%;
}

.choice-buttons a:nth-child(1)
{
    background-color: #94CF96 !important;
    color: white;
}

.choice-buttons a:nth-child(1):hover
{
    background-color: #E0E0E0 !important;
}

.choice-buttons a:nth-child(2)
{
    background-color: #F88E86 !important;
    color: white;
}

.choice-buttons a:nth-child(2):hover
{
    background-color: #E0E0E0!important;
}

.ads a
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    color: black;
    text-decoration: none;
}

.bug a
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    color: black;
    text-decoration: none;
    font-size:2rem;
}

footer
{
    margin-top: 2rem;
}

footer div:nth-child(1)
{
    background-color: #435761;
    color:white;
}

footer div:nth-child(2)
{
    background-color: #303E45;
    color:white;
}

footer div:nth-child(2) p
{
    padding: 1rem;
    padding-left:2rem;
    font-size: 1rem;
}

footer p
{
    padding: 1.5rem;
    padding-left:2rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px)
{

    .hamburger-navbar
    {
        display:flex;
    }

    .hamburger
    {
        display: flex;
        flex-direction: row;
        align-items: center;   
    }

    .hamburger li
    {
        list-style: none;
    }

    .hamburger li .home-logo a
    {
        padding: 3rem;
        list-style: none;
        color: white;
        text-decoration: none;
    }

    .hamburger-navbar div a
    {
        display: flex;
        color: white;
        padding: 1rem;
        font-size: 2rem;
        text-decoration: none;
    }

    .hamburger li a
    {
        color: white;
        font-size: larger;
        padding: 3rem;
    }

    .normal-menu
    {
        display: none;
    }

    .container
    {
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
    }

    .profile-description
    {
        width: 100%;
        margin-right: 1rem;
    }

    .posts
    {
        width:100%;
    }

    .events-and-requests
    {
        width: 100%;
    }

    .pictures
    {
        flex-direction: column;
    }

    .pictures img
    {
        width: 100%;
    }
}